# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     text diff=csharp
*.sln    text eol=crlf
*.csproj text eol=crlf
*.vbproj text eol=crlf
*.vcxproj text eol=crlf
*.vcproj text eol=crlf
*.dbproj text eol=crlf
*.fsproj text eol=crlf
*.lsproj text eol=crlf
*.wixproj text eol=crlf
*.modelproj text eol=crlf
*.sqlproj text eol=crlf
*.wwaproj text eol=crlf

# SQL files
*.sql text

# Config files
*.config text eol=crlf

# Scripts
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf

# Terraform
*.tf text eol=lf
*.tfvars text eol=lf
*.hcl text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.cshtml text

# Documentation
*.md text eol=lf
*.txt text

# Binary files
*.dll binary
*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.7z binary
*.gz binary
*.pdf binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
